/* Reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* utility */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
  padding: 0 20px;
}

nav {
  background: green;
  color: #fff;
  overflow: hidden;
}

.btn {
  background-color: green;
  padding-bottom: 20px;
  cursor: pointer;
}

.btn:hover {
  background: darkgreen;
}

.text-primary {
  color: green;
}

/* Nav */

nav h1 {
  float: left;
  padding-top: 20px;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  float: left;
  padding-top: 20px;
}

nav ul li a {
  color: #fff;
  padding: 20px;
}

/* Showcase */

#Showcase {
  width: 1100px;
  margin: auto;
}

#showcase .content {
  margin-top: 10px;
}

#showcase .content .img-showcase {
  float: right;
  width: 50%;
  height: 100%;
}

#showcase .content .content-1 {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 1.5em;
  line-height: 1.7em;
}


/* info */

#info {
  background: url('../img/lewis-fagg-CE1yaljvkb0-unsplash.jpg') no-repeat center center/cover;
  height: 700px;
}

#info .content {
  background: green;
  text-align: center;
  padding: 25px;
  margin-top: 300px;
  opacity: 0.9;
}

#info .my-img {
  width: 100px;
  float: left;
}

#info .content:hover {
  background: rgba(0, 128, 0, 0.411);
  transition: 2s;
  color: rgba(0, 0, 0, 0.705);
}

/* Footer */


#main-footer div {
  background: #444;
  color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
}